<div id="" class="appdev-list-searchable" >
    <div class="ui-accordian-header ui-state-default" style="position:relative;" >
    	<div class="appdev-list-searchable-button-bar" style='float:right;'>
        	<button id="btnAdd" class="btn btn-mini add" style="padding: 0px;" ><i class='icon-plus'></i></button>
        	<button id="btnDel" class="btn btn-mini delete" style="padding: 0px;" ><i class='icon-remove'></i></button>
        	<button id="btnRefresh" class="btn btn-mini refresh" style="padding: 0px;" ><i class='icon-refresh'></i></button>
        	<button id="btnEdit" class="btn btn-mini edit" style="padding: 0px;" ><i class='icon-edit'></i></button>
        </div>
      <div style="float:left;" class="title appdev-list-searchable-title">[Title[Title][Title][Title]</div>
      <div class="loading-anim-container">
        <div class="loading-anim"></div>
      </div>
      <div class="appdev-list-searchable-button-bar">
      
        
      </div>
      <div class="clear"></div>
    </div>
    
	<div class="ui-widget-content">
	    <div id="search-container" style="width:100%;height:38px;" >
	    	<div style='float:left;'>
		        <div class="input-append">
		            <input id="appendedInput"  type="text" size="16" style="float:left;width:auto;">
		            <span class="add-on"><i class="icon-search"></i></span>
		        </div>
	        </div>
	        
	        <div class="clear"></div>
	    </div>
	    <div id="editForm" class="edit-form">
		    <div id="editContent"> </div>
		    <div id="buttons" style="float:right" ><button id="btnCancel" class="btn">[Cancel]</button><button id="btnSave" class="btn btn-primary">[Save]</button></div>
	    	<div class="clear"></div>
	    </div>
	    <div id="deleteForm" style="display:none;">
	    	<span>[DeleteConfirmation]</span>
		    <div class="del-list-container">
				<div id="deleteContent"> </div>
			</div>
		    <div id="buttons"><button id="btnCancel" class="btn">[Cancel]</button><button id="btnConfirm" class="btn btn-danger">[Delete]</button></div>
	    </div>
		<div class="list-container">
			
		</div>
	</div>
	
</div>

