<%
///// NOTE:  on the server, EJS uses < %- to return unescaped strings
/////        on the client  EJS uses < %== 
// This is CLIENT, so let's make displaying labels easier:
// use:   L('[labelKey]')
var L = function(key) { return AD.Lang.Labels.getLabelHTML(key); };
%>
<div class="appdev-file-upload">
    <div class="progress progress-striped active">
          <div class="bar hide" style="width: 0%"></div>
    </div>
    <button type="button" class="btn"><%== L('[Upload]') %></button>
</div>