
        <div class="jcarousel-container jcarousel-container-horizontal" style="position: relative; display: block; ">
            <div class="jcarousel-clip jcarousel-clip-horizontal" style="overflow: hidden; position: relative; ">
            	<ul id="mycarousel" class="jcarousel-skin-tango">
                  <li class="template-row hidden" style="float: left; list-style: none; " jcarouselindex="1">
                        <img src="/theme/default/images/icon.jpg" width="75" height="75" alt="">
                        <div class="module-name"><h5></h5></div>
                  </li>       
                </ul>
              
            </div>
        	<div class="jcarousel-prev jcarousel-prev-horizontal" style="display: block; " disabled="disabled"></div>
			<div class="jcarousel-next jcarousel-next-horizontal" style="display: block; " disabled="disabled"></div>
        </div>

