<div class="appdev-image-upload">
		<div class="control-group"></div>
		<div class="progress">
  			<div id='pb' class="bar" style="width: 0%"></div>
		</div>
		<a target="_blank"><img class="hide"/></a>
		<button type="button" class="btn">Attach File</button>
        <input type="file" name="files[]" class="hide" multiple>
</div>