<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" rel="stylesheet" href="/site/unitTests/css/unitTests.css">
<script type="text/javascript" src="/scripts/steal/steal.js"></script>
<script>

	var listUrls = [];
	listUrls.push('/scripts/jquery/jquery.js');
    listUrls.push('/scripts/jquery/lang/string/string.js');
    listUrls.push('/scripts/jquery/controller/subscribe/subscribe.js');
    listUrls.push('/scripts/jquery/view/ejs/ejs.js');
    listUrls.push('/scripts/jquery/controller/view/view.js');
    listUrls.push('/scripts/jquery/model/model.js');
    listUrls.push('/scripts/jquery/dom/fixture/fixture.js');
    listUrls.push('/scripts/jquery/dom/form_params/form_params.js');
    listUrls.push('/scripts/jquery/event/event.js');
    listUrls.push('/scripts/jquery/event/destroyed/destroyed.js');
    listUrls.push('/scripts/jquery/lang/object/object.js');
    listUrls.push('/scripts/jquery/lang/string/rsplit/rsplit.js');
    listUrls.push('/scripts/jquery/dom/dom.js');
    listUrls.push('/scripts/jquery/class/class.js');
    listUrls.push('/scripts/jquery/controller/controller.js');
    listUrls.push('/scripts/jquery/view/view.js');
    listUrls.push('/scripts/jquery/lang/openajax/openajax.js');
    listUrls.push('/scripts/base.min.js');
	listUrls.push('/appDev/appDev.js');
<% 

if (script.names.length > 0) { 

	for (var a=0; a<script.names.length; a++){ 
		
%>
	listUrls.push('<%= script.names[a] %>');
<%

		var name = script.names[a];
		if (name.indexOf('chai.js') !== -1) {
		
%>
	listUrls.push(function(){ mocha.setup({ui: 'bdd', ignoreLeaks: true});});  // <-- after chai
<%

		} // end if script

	} // end for
	
}// end if
%>	
	var appDev_authMethod = '<%- AD.Defaults.authMethod %>';
	
	var a =0;
	var stealIt = function(a, ilist) {
		if (a<ilist.length) {
			steal(ilist[a], function(){
				stealIt(a+1, ilist);
			});
		} else {
			// at the end of our list of required files, so run the tests.
			if (window.mochaPhantomJS) { mochaPhantomJS.run(); }
      		else { mocha.run(); $('#mocha').href_grep({}); }
		}
	}
	stealIt(a, listUrls);
			
</script>

</head>
<body>
<div id="mocha"></div>
</body>
</html>

