<div id="unitTests">
<div class="container">
<h1 align="center">Unit Testing</h1>
<div id="unitTestCarousel"></div>
</div>
<div id="listTests" class="hidden">
<h2 align="center" id="displayModuleName"></h2>
<div id="initCalls"></div>
<table id="tableRunUnitTests">
   <tr id="titleTable">
    <th style="text-align:center">Run Unit Test</th>
    <th style="text-align:center">Name</th>
   </tr>
   <tr>
      <td style="text-align:center"><input type="checkbox" id="runAll" checked /></td>
      <td class="name">Run all unit tests</td>
   </tr>
   <tr class="hidden tt-row">
     <td style="text-align:center"><input type="checkbox" id="fileName" /></td>
     <td id="displayScript" class="name"></td>
   </tr>
</table>

<button id="applyButton" class="submit btn">Run tests</button>
</div>

<div id="listResults" class="hidden">
<button id="refreshResults" class="submit btn">Rerun tests</button>
</div>

</div>
