#admin-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 36px;
    height: 34px;
    clear: both;
    background-color: #800909;
    border-bottom: 3px solid #600101;
    border-right: 3px solid #600101;
    padding-right: 4px;
    overflow: hidden;
    opacity: 0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	z-index: 101;
}
#admin-toolbar:hover {
    opacity: 1.0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
#admin-toolbar.active {
    opacity: 1.0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
#admin-toolbar ul { 
    margin: 0;
    padding: 0;
    float: none; 
}
#admin-toolbar ul li { 
    display: block; 
    float: left; 
    clear: none;
    margin-bottom: -13px;
}
#admin-toolbar ul li.gear { }
#admin-toolbar.animating ul li { 
    margin-bottom: 50px;
}
#admin-toolbar ul li img { 
    border-width: 0;
    margin: 8px 8px 2px 8px;
    padding-bottom: 11px;
    max-height: 18px;
    /*max-width: 18px;*/
    cursor: pointer;
}
#admin-toolbar ul li div.notification { 
    position: relative;
    top: -35px;
    left: 23px;
    text-align: center;
    line-height: 13px;
    font-size: 9px;
    white-space: nowrap;
    background-color: white;
    color: red;
    width: 13px;
    height: 13px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
}
#admin-toolbar.minimized ul li.gear div.notification { 
    display: block;
}
#admin-toolbar.maximized ul li.gear div.notification { 
    display: none;
}
#admin-toolbar.minimized ul li.toolbar-item div.notification { 
    display: none;
}
#admin-toolbar.maximized ul li.toolbar-item div.notification { 
    display: block;
}
#admin-toolbar ul li.empty div.notification,
#admin-toolbar.animating ul li div.notification {
    /* when an icon is empty (i.e. no notifications) this will take
       precedence over all the previous classes */
    display: none !important;
}

.admin-overlay {
    display: none;
    position: fixed;
    top: 37px;
    bottom: 0;
    left: 0;
    width: 100%;
}
#admin-overlay-bg {
    overflow: none;
    background: black;
    opacity: 0.6;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
    z-index: 101;
}
#admin-overlay {
    overflow: auto;
    z-index: 102;
}
#admin-overlay a,
#admin-overlay select,
#admin-overlay option,
#admin-overlay button,
#admin-overlay input {
    outline: 0 none;
}
#admin-overlay .work-area {
    display: none;
    width: 70em;
    margin: 2em auto;
}
#admin-overlay h2,
#admin-overlay h3,
#admin-overlay h4,
#admin-overlay h5
{
    margin-top: .5em;
}
#admin-overlay .work-area h2 {
    margin: .5em 0;
}
#admin-overlay .work-area-dismiss {
    float: right;
    width: 2em;
    text-align: center;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    margin: 0;
    padding: 3px 0 0 0;
    background: white;
}
#admin-overlay .work-area-dismiss i {
    cursor: pointer;
}
#admin-overlay .work-area-inner {
    float: none;
    clear: both;
    padding: 1em;
    background: white;
    margin: 0;
}
#admin-overlay .work-area-inner .work-area-icon {
    width: 20px;
    height: 20px;
    float: left;
    margin: 2px .5em 2px 0;
}

#admin-quick-menu .quick-menu {
    z-index: 103;
    top: 35px;
    position: fixed;
    display: none;
}
#admin-quick-menu .quick-menu h3 {
    margin-top: 0.5em;
}
#admin-quick-menu .quick-menu-top {
    text-align: left;
    padding-left: .6em;
    margin: 0;
}
#admin-quick-menu .quick-menu-inner {
    border: solid 1px black;
    padding: 0 .5em 0.5em 0.5em;
    background: #eae5e2;
}
#admin-quick-menu .quick-menu-inner .quick-menu-icon {
    width: 15px;
    height: 15px;
    float: left;
    margin: 2px 3px 2px 0;
}


/* this is the "close" icon */
.rounded-box i.icon-remove-circle
{
    float: right;
    cursor: pointer;
}

/* from HuiHua */
.rounded-box {
	overflow:hidden;
  *zoom: 1;
  padding: 4px 4px 4px;
  margin-bottom:5px;
  font-size: 11px;
  line-height: 13px;
  color: #333333;
  text-align:left;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  *margin-left: .3em;
}
.small-box {
	max-width:68px;
	font-size:9px !important;
	margin:0 auto 5px auto;
	padding:0 !important;
}
