<div id="" class="appdev-codemirror">

<div id="editor-js">
   <!--header start-->
   <div class="header">
       <div id="editorHeader" class="header-title"><h4>Editor</h4></div>
       
           <div class="add-delete">
           	   <span id="addBusy" class="busy-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span>
               <a id="submitButton">s</a>
           </div>                                           
   		</div>

		<div id='codeMirror'></div>
	</div>
</div>

</div>