<%
///// NOTE:  on the server, EJS uses < %- to return unescaped strings
/////        on the client  EJS uses < %== 
// This is CLIENT, so let's make displaying labels easier:
// use:   L('[labelKey]')
var L = function(key) { return AD.Lang.Labels.getLabelHTML(key); };
%>
<!--IOS Start-->
<li class="appdev-list-admin-entry">
    <a>
        <div class="wrapper">
            <div class="pane pane_left" style="display:none;">
                <span class="img ios-delete icon-minus"></span>
            </div>
            <div class="hide pane pane_right">
                <button  class="ios-buttons btn btn-danger"><%== L('[site.button.Delete]') %></button >
            </div>
            <div class="pane pane_center">
                <div class="pane__content">
                    <span class='model-name' ><%== name %></span>
                </div>
            </div>
        </div>
    </a>
</li>
<!--IOS  End--> 
    