<div id="" class="appdev-list-select" >
    <div style="float:left;" class="title appdev-list-select-title"></div>
    <select></select>
    <div class="loading-anim-container">
        <div class="loading-anim"></div>
    </div>
    <div class="clear"></div>
</div>
